---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import Projects from '../components/Projects.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Experience from '../components/Experience.astro';
import Footer from '../components/Footer.astro';

// icons

import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import CodeIcon from '../components/icons/Code.astro';
import BriefcaseIcon from '../components/icons/Briefcase.astro';

---

<Layout 
	title="Portfolio - Lautaro Palena"
	description="Lautaro Palena's Portfolio, a University student studying Programming and Web Development"
>
	<main>
		<SectionContainer class="pt-40 pb-28">
			<div id="about" class="flex flex-col">
				<h1 
					class="text-white text-5xl font-semibold mb-auto flex flex-row gap-x-2"
					>Lautaro Palena 
					<a href="https://www.linkedin.com/in/lautaro-palena/" 
					target="_blank" rel="noopener noreferrer"
					class="flex justify-center items-center pt-5">
					<Badge>Available to work</Badge>
					</a>
				</h1>
				<h2 class="w-[497px] text-2xl text-wrap"> <span class="opacity-80">Hi, I'm a University Student pursuing a </span><span class="text-orange-400/90">Technical Degree in Programming</span><span class="opacity-80">, actively looking for job opportunities. </span><span class="text-blue-300/90">I'm based in Buenos Aires, Argentina</span>.</h2>

				<nav class="flex gap-x-4 mt-auto">
					<SocialPill href="https://www.linkedin.com/in/lautaro-palena">
						<LinkedInIcon class="size-6" />
						LinkedIn
					</SocialPill>
					<SocialPill href="https://www.github.com/LautyPale">
						<GitHubIcon class="size-6" />
						GitHub
					</SocialPill>
					<SocialPill href="mailto:palenalautaro@gmail.com">
						<MailIcon class="size-6" />
						palenalautaro@gmail.com
					</SocialPill>
				</nav>

			</div>

			<div class="ml-auto flex flex-col justify-between gap-y-3">
				<img class="rounded-full size-64" src="https://avatars.githubusercontent.com/u/106833976?v=4" alt="Lautaro Palena photo" />
				<SocialPill href="#" download>
					Download Resume
				</SocialPill>
			</div>
		</SectionContainer>

		<SectionContainer  class="flex-col pb-28">
			<div id="projects" class="flex items-center mb-4 gap-x-2">
				<CodeIcon class="size-8 -ml-4" />
				<h2 class="text-3xl font-semibold">Projects</h2>
			</div>
			<Projects/>
		</SectionContainer>

		<SectionContainer class="flex-col pb-40">
			<div id="experience" class="flex items-center mb-4 gap-x-2">
				<BriefcaseIcon class="size-8 -ml-4" />
				<h2 class="text-3xl font-semibold">Experience</h2>
			</div>
			<Experience/>
		</SectionContainer>

		<SectionContainer >
			<div id="contact"> 
				<Footer />
			</div>
		</SectionContainer>
	</main>
</Layout>