<section class="flex mx-4 lg:mx-0 lg:flex-row flex-col-reverse items-center justify-center items-top">
    <div class="[&>p]:my-4 text-balance lg:text-pretty [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold">
        <p>
            My name is Lautaro Palena, but my friends call me "Pale." I started programming with gLua and GoldSrc, trying to modify and add code to the games I played. <strong>I am currently studying for a Technical Degree in Programming to formalize my knowledge</strong>.
        </p>
    
        <p>
            I have experience developing websites that showcase my skills, allowing me to reinforce my knowledge. Additionally, as a personal project, I am <strong>developing a website for my current job</strong>, ByGamers, where clients can view the products and services we offer.
        </p>
    </div>
    <img class="rounded-full size-40 lg:size-64" src="./me.webp" alt="Lautaro Palena photo" />
</section>