---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: '2022 - actualmente',
        title: 'Tecnico y gerente de stock — ByGamers',
        description: `
            Trabajo como tecnico y gerente de stock en una tienda de computadoras.
            Estoy encargado de controlar el stock, brindar soporte tecnico y resolver problemas de los clientes.`,
        link: '#',
    }
]
---

<ol class="relative border-s border-gray-200 ml-3">           
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ml-6">
                <ExperienceItem {...experience} />
            </li>
        ))
    }       
    
</ol>