---
    import GitHubIcon from './icons/GitHub.astro'
    import LinkedInIcon from './icons/LinkedIn.astro'
    import GmailIcon from './icons/Gmail.astro'
---

<footer class="flex flex-col justify-center items-center pb-4 w-[1120px] mx-auto">
    
    <hr class="w-1/2 border-t border-gray-200 dark:border-gray-700 mb-4"/>

    <nav class="flex gap-x-8 pt-12 pb-4">
        <a href=""><GitHubIcon class="size-12"/></a>
        <a href=""><LinkedInIcon class="size-12"/></a>
        <a href=""><GmailIcon class="size-12"/></a>
    </nav>
    
    <p class="text-sm opacity-80">©2024 Lautaro Palena. All rights reserved.</p>

</footer>