<header id="home" class="flex top-0 z-10 justify-center items-center mt-4 w-full mx-auto">

    <nav class="flex px-3 gap-x-8 opacity-80 text-xs md:text-base rounded-full text-gray-600 dark:text-gray-200">
        <a href="/#home" class="transition hover:text-blue-500">Home</a>
        <a href="/#projects" class="transition hover:text-blue-500">Projects</a>
        <a href="/#experience" class="transition hover:text-blue-500">Experience</a>
        <a href="/#aboutme" class="transition hover:text-blue-500">About Me</a>
        <a href="/#contact" class="transition hover:text-blue-500">Contact</a>
    </nav>

</header>